html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

#app {
    height: 100%;
    width: 100%;
}

.examplesPage {
    width: 100%;
    height: 100%;
}

.navigationPanel {
    width: $navigation-panel-width;
    height: 100%;
    position: absolute;
}

.example {
    display: inline-block;
    width: calc(100% - $navigation-panel-width);
    height: 100%;
    position: relative;
    margin-left: $navigation-panel-width;
}

.exampleHeader {
    height: $example-header-height;
}
.exampleWrapper {
    height: calc(100% - $example-header-height);
}