.scrollable-container {
    position: relative;
    overflow: hidden;
}
        
.scrollable-container-scrollable {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
}

.scrollable-container-scrollable-boost {
    transform: translateZ(0);
    will-change: transform;
}

.scrollable-content {
}

.scrollable-wrapper {
    overflow: hidden;
    position: absolute;
    display: inline-block;
    width: 1px;
    height: 1px;
    background-color: transparent;
}
