.$(base-css-name)-container {
    position: relative;
    overflow: hidden;
}
        
.$(base-css-name)-container-scrollable {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    transform: translateZ(0);
    will-change: transform;
}

.$(base-css-name)-content {
}

.$(base-css-name)-wrapper {
    overflow: hidden;
    position: absolute;
    display: inline-block;
    width: 1px;
    height: 1px;
    background-color: transparent;
}
