.cell-container {
    display: inline-block;
    overflow: hidden;
    position: relative;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    line-height: 18px;
    height: 18px;
    vertical-align: top;
}

.cell, .cell-first {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    border-bottom: solid 1px #d6d6d6;
    border-right: solid 1px #d6d6d6;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    text-overflow: ellipsis;
}

.header-cell-container {
    display: inline-block;
    overflow: hidden;
    position: relative;
    font-size: 11px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    line-height: 18px;
    height: 18px;
    vertical-align: top;
}

.header-cell, .header-cell-first {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #d6d6d6;
    border-bottom: solid 1px #6C7A89;
    border-right: solid 1px #6C7A89;
    border-top: solid 1px #6C7A89;
    display: inline-block;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header-cell-first, .cell-first {
    border-left: solid 1px #6C7A89;
}
