.layout-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.layout-panel {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  overflow: hidden;
}
