.layout-vert-splitter, .layout-horz-splitter {
  position: absolute;
}

.layout-vert-splitter:hover, .layout-horz-splitter:hover {
  background-color: gray;
}

.layout-vert-splitter {
  height: 6px;
  cursor: row-resize;
  z-index: 2;
}

.layout-horz-splitter {
  width: 6px;
  cursor: col-resize;
  z-index: 2;
}
