.shift {
    position: absolute;
    cursor: pointer;
    box-sizing: border-box;
    padding-top: $(SHIFT_PADDING)px;
    padding-left: $(SHIFT_PADDING)px;
    font: $GRID_SHIFT_FONT;
    background-color: $GRID_SHIFT_BACKGROUND_COLOR;
    color: $GRID_SHIFT_COLOR;
    height: 100%;
}
    
.shift-gantt {
    border-left-width: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.day {
    position: absolute;
    height: 100%;
    text-align: center;
    background-color: $GRID_HEADER_CELL_BACKGROUND_COLOR;
    cursor: pointer;
    color: #1b3966;
    border-right: 1px solid $GRID_HEADER_CELL_BORDER_COLOR;
    /*.top-linear-gradient(#f9f9f9, #e3e4e6);*/
    font-family: $GRID_HEADER_CELL_FONT;
    box-sizing: border-box;
    overflow: hidden;
}

.day-text {
    height: 18px;
    line-height: 18px;
    display: inline-block;
    vertical-align: middle;
}

.hour {
    display: inline-block;
    height: 15px;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    font: $GRID_HEADER_CELL_FONT;
    margin-top: 5px;
    padding-top: 3px;
}